<ul>
  <li><span class="icon-mail2"><a href="">mail</a></span></li>
  <li><span class="icon-twitter"><a href="">twitter</a></span></li>
  <li><span class="icon-github"><a href="">github</a></span></li>
  <li><span class="icon-linkedin2"><a href="">linkedin</a></span></li>
</ul>
