<ul>
  <li><span class="fas fa-envelope-square"><a href="">mail</a></span></li>
  <li><span class="fab fa-twitter-square"><a href="">twitter</a></span></li>
  <li><span class="fab fa-github"><a href="">github</a></span></li>
  <li><span class="fab fa-linkedin"></span><a href="">linkedin</a></span></li>
</ul>
