<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/reset.css">
    <link rel="stylesheet" href="styles/base.css">
    <style>
      @import url('https://fonts.googleapis.com/css?family=Josefin+Sans:400,400i,600');
    </style>
    <title>Book Search Results</title>
  </head>
  <body>
    <h1>Best Books!</h1>
    <h3>Search Results</h3>
    <div>
    <% searchResults.forEach(results => { %>
    <p><%= results.description%></p>
    <% }); %>
    </div>
  </body>
</html>