<!DOCTYPE html>
<html>

<head>
  <%- include('./layouts/head') %>
</head>

<body>
  <%- include('./layouts/header') %>
  <main>
    <p>The error page is working. See?</p>
    <p><%= error ) %></p>
  </main>
  <%- include('../layout/footer') %>
</body>
</html>