<!DOCTYPE html>
<html>
  <head>
    <%- include('./layouts/head') %>
  </head>

  <body>
    <header>
      <%- include('../layouts/header') %>
    </header>

    <main>
      <p>The error page is working. See?</p>
      <p><%= error ) %></p>
    </main>

    <footer>
      <%- include('../layout/footer') %>
    </footer>
  </body>
</html>