<!DOCTYPE html>
<html>

<head>
  <%- include('./layouts/head') %>
</head>

<body>
  <header>
  <%- include('./layouts/header') %>
  </header>
  <main>
    <p><%= error ) %></p>
  </main>
</body>

</html>