<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/reset.css">
    <link rel="stylesheet" href="styles/base.css">
    <link rel="stylesheet" href="styles/icons.css">
    <link rel="stylesheet" href="styles/layout.css">
    <link rel="stylesheet" href="styles/modules.css">
    <style>
      @import url('https://fonts.googleapis.com/css?family=Josefin+Sans:400,400i,600');
    </style>
    <title>Book Collection</title>
  </head>
  <body>
    <header>
      <h1>Best Books!</h1>
    </header>
    <main>
      <h4>Search by Title or Author</h4>
      <form action="/searches" method="post">
        <input type="text" name="search" placeholder="Enter a title or author" required>
        <fieldset>
          <label for="title">
            <span>Title</span>
            <input type="radio" name="search" value="title" required>
          </label>
        </fieldset>
        <fieldset>
          <label for="author">
            <span>Author</span>
            <input type="radio" name="search" value="author" required>
          </label>
        </fieldset>
        <button type="submit">Search the Google Books API</button>
      </form>
    </main>
  </body>
</html>
