

header {
  margin-left: auto;
  padding: 2%;
  height: 10%;
}

main {
  margin: 0 auto;

}

/* input {
  margin-left: auto;
  margin-right: auto;
  width: 70%
} */

.book-container {
  margin: 0 auto;
  padding: 3%;
}

img {
  display: flex;  
  margin: 0 auto;
  padding: 3%;
}

h3 {
  margin: 0 auto;
}

span {
  margin: 0 auto;
  text-align: center;
}

footer {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
}

